[Unit]
Description=Bootstrap ARC CE (arex/arex-ws) on top of local SLURM, mint test client cert
After=network.target dbus-broker.service munge.service slurmctld.service slurmd.service
Wants=dbus-broker.service munge.service slurmctld.service slurmd.service
ConditionPathExists=!/run/arc-ready

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/bootstrap.sh

[Install]
WantedBy=multi-user.target
